
body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #1d1f27;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.flex-container {
    display: flex;
    background: linear-gradient(135deg, #1e35a0, #121a41);
    height: 100vh;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
    overflow: hidden; 
}

.flex-child {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; 
    max-height: 100%; 
}

.flex-child:first-child {
    width: calc(50% + 100px); 
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.flex-child:nth-child(2) {
    width: calc(50% - 120px); 
}

canvas {
    display: block;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.flex-child:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}


button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffcb05;
}

h2 {
    font-size: 22px;
    color: #ffcb05;
}

p {
    font-size: 18px;
}


#shop, #rebirth, #mastery, #settings, #inventory, #level{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    
    .flex-child {
        width: 100%; 
        margin-bottom: 20px;
    }

    button {
        width: 100%;
    }
}

input[type="file"] {
    padding: 10px;
    margin: 20px 0;
    background-color: #2d333b;
    color: #c9d1d9;
    border: 2px solid #444c56;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #0366d6;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="file"]:hover {
    background-color: #2b3a4b;
}