

body {
    text-align: center;
    
}
.flex-container {
    display: flex;
    background-color: rgb(30, 53, 160);
}

.flex-child {
    flex: 1;
    background-color: rgb(30, 53, 160);
}  

.flex-child:first-child {
    margin-right: 20px;
    background-color: rgb(30, 53, 160);
} 
