body {
    text-align: center;
}
.flex-container {
    display: flex;
    background-color: rgb(0, 0, 0);
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(51, 3, 128);
    background-color: rgb(30, 53, 160);
}  

.flex-child:first-child {
    margin-right: 20px;
    background-color: blue;
} 